/*Aviso de Direitos Autorais

Este código é protegido por direitos autorais. Ele é disponibilizado 
exclusivamente para fins de estudo, pesquisa ou uso educacional. 
Qualquer reprodução, redistribuição, comercialização ou uso não autorizado, 
parcial ou integral, sem a devida permissão do autor, constitui violação de 
direitos autorais e está sujeito às sanções previstas na legislação vigente.

Caso deseje utilizá-lo para outras finalidades, entre em contato com o 
autor para obter a autorização necessária.*/


@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {user-select: none; padding: 0px; margin: 0px; display: flex; flex-direction: column; text-align: center; align-items: center;
justify-content: center; color: white; box-sizing: border-box; font-family: 'Lilita One',Arial, Helvetica, sans-serif;}
body {perspective: 10000px;perspective-origin: 50% 50%;overflow-y: hidden;overflow-x: hidden;height: 100vh;width: 100vw;max-width: 100%;
background-color: rgb(155, 2, 250);}
.pfet-ppef-mnhz {font-size: 2vw;padding-bottom: 2vw;padding-top: 2vw;font-family: Arial, Helvetica, sans-serif;pointer-events: none;}.peft-pler-mnhz {position: absolute;width: 13vw;height: 13vw;border-radius: 50%;overflow: hidden;}
.peft-pler-mnhs {pointer-events: none;width: 13vw;height: 13vw;position: relative;display: flex;margin: 2vw auto;transform-style: preserve-3d;animation: pepl 3s linear infinite;}.peft-plet-mnhz img{width: 80%;height: 80%;object-fit: cover;  filter: drop-shadow(0 0 0.3vw rgb(174, 0, 255));object-position: 0% 0%;  }.peef-plef-mnkz {background-color: rgb(99, 0, 169);width: 6vw;transform-style: flat;height: 6vw;border-radius: 50%;position: fixed;object-fit: cover;transform-origin: 20% 20%;
z-index: -10000;opacity: 1;animation: reft 1s linear;
}.peft-plef-mnhz {flex-direction: row;border: 0.3vw solid rgb(102, 1, 169);margin-top: 2vw;margin: 2vw auto;gap: 3vw;height: 6vw;text-transform: uppercase;width: 30vw;border-radius: 1.6vw;background-color: rgb(155, 2, 250); }@keyframes pepl {to {transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}}
.peff-pelr-mnhz {left: 44vw;}.peft-belr-mhnz {left: 80vw;}.pfet-pflr-mnhz {transform: translateZ(1.48vw);background-color: rgb(255, 255, 255);}.pfet-pelr-mnhz {transform: translateZ(1.5vw);background-color: rgb(255, 255, 255);}.peft-plet-mnhz {transform: translateZ(-1.5vw);background-color: rgb(255, 255, 255);}.pefr-plet-mnhz {transform: translateZ(-1.48vw);background-color: rgb(253, 251, 255);
}.peft-plef-mnhz:hover {transform: scale(1.06);
}.peft-plef-mnhz h3 {font-size: 2vw;text-transform: uppercase; 
}.peft-pler-nmhs {height: 13vw;width: 2.9vw;background-color: rgb(255, 255, 255);transform: rotateY(90deg);
}@keyframes reft {to {transform: translateY(-30vw);opacity: 0;}}h1 {font-size: 2.5vw;text-transform: uppercase;margin-bottom: 1vw;pointer-events: none;} h2 {font-size: 2vw;margin-top: 2vw;text-transform: uppercase;
pointer-events: none;}.peft-belr-mnhz {font-size: 4vw;}
.pfet-perl-mnhz {font-size: 2vw;text-transform: uppercase;}
i {font-size: 3vw;}.peft-pelr-mnkz {overflow-y: scroll;width: 32vw;height: 100vh; padding-top: 0; margin-top: 0; display: block;}.pfet-pelr-mnhz img{
width: 100%;height: 100%;object-fit: cover;  
object-position: 0% 0%;  }.peft-pelr-mnkz::-webkit-scrollbar {display: none;}.pfte-pelr-mhnz {left: 8vw;}.pfet-pelr-mmkz {background-color: black;width: 12vw;height: 12vw;border-radius: 50%;position: fixed;top: 100vh;z-index: -100;animation: plef 3s linear;
}@keyframes plef {to {transform: translateY(-132vh);}}@media (max-width: 800px) {.pfet-pelr-mnhz {transform: translateZ(3vw);}.peft-plet-mnhz {transform: translateZ(-3vw);}.peft-plet-mnhz img{filter: drop-shadow(0 0 0.8vw rgb(174, 0, 255));}.peft-pler-mnhs {width: 40vw;height: 40vw;margin: 8vw auto;}.pfet-pflr-mnhz {transform: translateZ(2.98vw);}.pefr-plet-mnhz {transform: translateZ(-2.98vw);}
.peft-pler-mnhz {width: 40vw; height: 40vw;}.peft-pler-nmhs {height: 40vw;width: 5.85vw;}.peff-pelr-mnhz {left: 37.5vw;} h1 { font-size: 10vw; margin-top: 4vw;margin-bottom: 1vw;
}.peft-belr-mnhz {font-size: 9vw;}
.peft-plef-mnhz {border: 1vw solid rgb(102, 1, 169);margin-top: 2vw;margin: 2vw auto;gap: 3vw;height: 16vw;width: 80vw;border-radius: 6vw;}.peft-plef-mnhz:hover {
transform: scale(1.0);}.peft-plef-mnhz h3 {font-size: 6vw;}.pfet-perl-mnhz {font-size: 6vw;}.pfet-pelr-mmkz {width: 25vw;height: 25vw;}.pfet-ppef-mnhz { 
font-size: 5vw;padding-bottom: 2vw;padding-top: 6vw;}.peef-plef-mnkz {width: 18vw;height: 18vw;} h2 {font-size: 7vw;margin-top: 6vw;margin-bottom: 6vw;} i { font-size: 6vw;}
.peft-pelr-mnkz {width: 100vw;}.pfte-pelr-mhnz {left: 6vw;}.peft-belr-mhnz {left: 70vw;}}














